<div class="auth-page">
	<div class="container page">
		<div class="row">

			<div class="col-md-6 offset-md-3 col-xs-12">
				<h1 class="text-xs-center" data-ng-bind="::$ctrl.title"></h1>
				<p class="text-xs-center">
					<a data-ui-sref="app.login"
					   data-ng-show="$ctrl.authType === 'register'">
						Have an account?
					</a>
					<a data-ui-sref="app.register"
					   data-ng-show="$ctrl.authType === 'login'">
						Need an account?
					</a>
				</p>

				<form data-ng-submit="$ctrl.submitForm()">

					<fieldset data-ng-disabled="$ctrl.isSubmitting" data-ng-if="$ctrl.authType === 'login'">

						<fieldset class="form-group">
							<input class="form-control form-control-lg"
							       type="text"
							       placeholder="Username"
							       data-ng-model="$ctrl.formData.username"/>
						</fieldset>

						<fieldset class="form-group">
							<input class="form-control form-control-lg"
							       type="password"
							       placeholder="Password"
							       data-ng-model="$ctrl.formData.password"/>
						</fieldset>

						<button class="btn btn-lg btn-primary pull-xs-right"
						        type="submit"
						        data-ng-bind="::$ctrl.title">
						</button>

					</fieldset>

					<fieldset data-ng-disabled="$ctrl.isSubmitting" data-ng-if="$ctrl.authType === 'forgot'">

						<fieldset class="form-group">
							<input class="form-control form-control-lg"
							       type="email"
							       placeholder="Email"
							       data-ng-model="$ctrl.formData.email"/>
						</fieldset>

						<button class="btn btn-lg btn-primary pull-xs-right"
						        type="submit"
						        data-ng-bind="::$ctrl.title">
						</button>

					</fieldset>

					<fieldset data-ng-disabled="$ctrl.isSubmitting" data-ng-if="$ctrl.authType === 'register'">

						<fieldset class="form-group">
							<input class="form-control form-control-lg"
							       type="text"
							       placeholder="Username"
							       data-ng-model="$ctrl.formData.username"/>
						</fieldset>

						<fieldset class="form-group">
							<input class="form-control form-control-lg"
							       type="email"
							       placeholder="Email"
							       data-ng-model="$ctrl.formData.email"/>
						</fieldset>

						<fieldset class="form-group">
							<input class="form-control form-control-lg"
							       type="password"
							       placeholder="Password"
							       data-ng-model="$ctrl.formData.password"/>
						</fieldset>

						<button class="btn btn-lg btn-primary pull-xs-right"
						        type="submit"
						        data-ng-bind="::$ctrl.title">
						</button>

					</fieldset>

				</form>
			</div>

		</div>
	</div>
</div>
