<ul class="space-box-tab">
	<li class="space-box-tab-item" data-ng-repeat="tab in $ctrl.tabs track by tab.index" data-ng-class="{'active':$index == $ctrl.openedFileIndex}">
		<a data-ng-click="$ctrl.changeTab(tab)" class="text-small">
			<span class="btn-tab-text">{{tab.name}}</span>
		</a>
		<button type="button" data-ng-click="$ctrl.closeTab(tab)"  class="btn-close-tab-editor" data-ng-hide="$ctrl.tabs.length == 1 && $ctrl.tabs.first().isBlank">
			<i class="material-icons">close</i>
		</button>
	</li>
	<li class="btn-new-tab"></li>
</ul>