<ul class="navbar-right navbar-account">
	<li class="new-notifi">
	</li>
	<li class="dropdown" data-uib-dropdown>
		<a href="" class="dropdown-toggle text-action btn-account-drop" data-uib-dropdown-toggle role="button">
      <span class="avatar">
        <span class="avatar-name">R</span>
      </span>
			{{$ctrl.currentUser.username}}
			<i class="fa fa-angle-down"></i>
		</a>
		<ul class="dropdown-menu dropdown-menu-account" data-uib-dropdown-menu>
			<li>
				<h2>{{$ctrl.currentUser.username}}</h2>
				<a role="button" class="mail-link">{{$ctrl.currentUser.email}}</a>
			</li>
			<li><a data-ng-href="{{::$root.trustSrc($ctrl.SITE + 'profile')}}">EDIT Profile</a></li>
			<li><a href="" data-ng-click="$ctrl.logout()" class="signout-link">Sign Out</a></li>
		</ul>
	</li>
</ul>