<div class="rodin-idea clearfix">
  <rodin-toolbar></rodin-toolbar>


  <div class="work-space-container" data-resize>

    <rodin-tree data-project-id="projectId" class="work-space-sidebar clearfix"
                resize-item
                resize-item-initial="40%"></rodin-tree>


    <rodin-editor data-project-id="projectId" class="work-space-box editor-box clearfix"
                  resize-item
                  resize-item-initial="40%"></rodin-editor>


    <rodin-preview class="work-space-box view-box clearfix"
                   resize-item
                   resize-item-initial="20%"></rodin-preview>


  </div>
</div>