<div class="modal-content">
  <div class="modal-body">
    <h2 class="modal-title">Replace</h2>
    <form action="" class="modal-form" enctype="multipart/form-data">

      <div class="form-group" data-ng-show="$ctrl.items.length">
        <div class="form-label">The {{$ctrl.folder ? 'folder' : 'files'}} already exist, replace {{$ctrl.folder ? 'it' : 'them'}}?</div>
        <div class="files-list clearfix">
          <ul class="list-group files-list clearfix">
            <li class="list-group-item clearfix" data-ng-repeat="item in $ctrl.items track by item.index" title="{{item.path}}">
              <span class="list-group-addon" ng-if="!$ctrl.folder">
                <input  type="checkbox" name="{{item.name}}" data-ng-model="item.model">
              </span>
              <span  ng-if="!$ctrl.folder" class="badge">{{item.size | bytes}}</span>
              {{item.name}}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-actions">
        <a class="btn btn-link" data-ng-click="$ctrl.cancel()">Cancel</a>
        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.save()">Replace</button>
      </div>

    </form>
  </div>
</div>