<div class="work-space-container">
  <div class="work-space-sidebar">
    <file-tree data-project-id="$ctrl.projectId" data-callback="$ctrl.treeCallback" data-checker="$ctrl.treeChecker"></file-tree>
  </div>
  <div class="work-space-box editor-box">
    <div class="drag-handle"></div>
    <div class="space-box-header">
      <editor-tabs data-opened-file-index="$ctrl.openedFileIndex" data-tabs="$ctrl.tabs" data-update-editor="$ctrl.updateEditor"></editor-tabs>
      <div class="btn-tab-settings-wrapper">
        <a href="#" class="btn-tab-settings"><i class="icon icon-more"></i></a>
      </div>
      <div class="space-box-content ace-editor clearfix" id="rodin-ace-editor-container">
        <ace-editor data-ace-config="$ctrl.aceOptions" data-ng-model="$ctrl.fileContent"></ace-editor>
      </div>
    </div>
  </div>
  <div class="work-space-box view-box">
    <div class="space-box-header">
      <ul class="space-box-tab">
        <li class="space-box-tab-item active">
          <a href="#" class="text-small">
            <span class="btn-tab-text">[P]/control_test.html</span>
          </a>
          <button type="button" class="btn-close-tab-editor"><i class="material-icons">close</i>
          </button>
        </li>
        <li class="btn-new-tab"></li>
      </ul>
      <div class="btn-tab-settings-wrapper">
        <a href="#" class="btn-tab-settings"><i class="icon icon-more"></i></a>
      </div>
    </div>
    <div class="space-box-content">
      <div class="space-box-content-top">
        <a href="#" class="btn-reload"></a>
        <div class="form-group browser-group">
          <a href="#" class="btn-reload">
            <i class="icon icon-reload"></i>
          </a>
          <div class="input-wrapper">
            <a href="#" class="btn-warning">
              <i class="icon icon-info"></i>
            </a>
            <input type="text" class="form-control" value="/controls_test.html">
          </div>
          <a href="#" class="btn-fulscreen">
            <i class="icon icon-fullscreen"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>