<div class="header work-space-header">
	<div class="container-fluid">
		<a class="work-space-logo" data-ng-href="{{::trustSrc($ctrl.SITE)}}">
			<img src="images/general/rodin-logo.svg" width="52" alt="">
		</a>
		<div class="folder-name dropdown">
			<a class="dropdown-toggle btn-folder-name" data-toggle="dropdown" role="button">
				/{{::$ctrl.projectRoot}}
				<i class="fa fa-angle-down"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-folder">
			</div>
		</div>
		<ul class="header-work-menu">
			<li>
				<a href="" class="text-primary">File</a>
			</li>
			<li>
				<a href="" class="text-primary">Edit</a>
			</li>
			<li>
				<a href="" class="text-primary">Find</a>
			</li>
			<li>
				<a href="" class="text-primary">Goto</a>
			</li>
			<li>
				<a href="" class="text-primary">Run</a>
			</li>
			<li>
				<a href="" class="text-primary">Tools</a>
			</li>
			<li>
				<a href="" class="text-primary">View</a>
			</li>
			<li>
				<a href="" class="text-primary">Window</a>
			</li>
			<li>
				<a href="" class="text-primary">Help</a>
			</li>
		</ul>
		<ul class="navbar-right navbar-account">
			<li class="new-notifi" data-uib-dropdown>
				<a href="" class="dropdown-toggle btn-notifi" data-uib-dropdown-toggle role="button">
					<i class="icon icon-notifi"></i>
					<!--<span class="new-notifi-badge">-->
					<!--<i class="icon icon-dot"></i>-->
					<!--</span>-->
				</a>
				<div class="dropdown-menu dropdown-menu-notifi" data-uib-dropdown-menu>
					<h5>Notifications</h5>
					<!--<ul>-->
					<!--<li class="red">-->
					<!--<a href="">-->
					<!--<p>It sometimes seems everyone on the planet is using Windows.</p>-->
					<!--<span class="notifi-date text-small">6 hours ago</span>-->
					<!--</a>-->
					<!--</li>-->
					<!--<li class="orange">-->
					<!--<a href="">-->
					<!--<p>Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been</p>-->
					<!--<span class="notifi-date text-small">2 hours ago</span>-->
					<!--</a>-->
					<!--</li>-->
					<!--<li class="blue">-->
					<!--<a href="">-->
					<!--<p>Many of us have at least been</p>-->
					<!--<span class="notifi-date text-small">6 hours ago</span>-->
					<!--</a>-->
					<!--</li>-->
					<!--<li class="orange">-->
					<!--<a href="">-->
					<!--<p>Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been</p>-->
					<!--<span class="notifi-date text-small">2 hours ago</span>-->
					<!--</a>-->
					<!--</li>-->
					<!--</ul>-->
				</div>
			</li>
			<li class="dropdown" data-uib-dropdown>
				<a href="" class="dropdown-toggle text-action btn-account-drop" data-uib-dropdown-toggle role="button">
          <span class="avatar">
            <span class="avatar-name">R</span>
          </span>
					{{$ctrl.currentUser.username}}
					<i class="fa fa-angle-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-account" data-uib-dropdown-menu>
					<li>
						<h2>{{$ctrl.currentUser.username}}</h2>
						<a href="mailto:lwarren@quinu.info" class="mail-link">{{$ctrl.currentUser.email}}</a>
					</li>
					<li><a data-ng-src="{{::trustSrc($ctrl.SITE + 'profile')}}">EDIT Profile</a></li>
					<li><a data-ng-click="$ctrl.logout()" class="signout-link">Sign Out</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>