<div class="clearfix">
  <div class="drag-handle"></div>
  <div class="space-box-header">

    <rodin-tabs class="space-box-tab" data-component-id="{{::$ctrl.tabsComponentId}}" data-callbacks="$ctrl.tabsCallbacks"></rodin-tabs>

    <!--
      <div class="btn-tab-settings-wrapper">
        <a href="#" class="btn-tab-settings"><i class="icon icon-more"></i></a>
      </div>
    -->

    <div class="space-box-content ace-editor clearfix" id="rodin-ace-editor-container">
      <ace class="clearfix" data-ng-model="$ctrl.file.content" data-ace-config="$ctrl.aceConfig"></ace>
    </div>
  </div>
</div>