<div class="work-space-container">
	<div class="work-space-sidebar">
		<file-tree data-project-id="$ctrl._$scope.projectId" data-callback="$ctrl.treeCallback" data-checker="$ctrl.treeChecker"></file-tree>
	</div>
	<div class="work-space-box editor-box">
		<div class="drag-handle"></div>
		<div class="space-box-header">
			<editor-tabs data-opened-file-index="$ctrl.openedFileIndex" data-tabs="$ctrl.tabs" data-update-editor="$ctrl.updateEditor"></editor-tabs>
			<div class="btn-tab-settings-wrapper">
				<a href="#" class="btn-tab-settings"><i class="icon icon-more"></i></a>
			</div>
			<div class="space-box-content ace-editor clearfix" id="rodin-ace-editor-container">
				<ace-editor data-ace-config="$ctrl.aceOptions" data-ng-model="$ctrl.fileContent"></ace-editor>
			</div>
		</div>
	</div>


	<div class="work-space-box view-box">
		<div class="space-box-content">
			<div class="space-box-content-top">
				<a href="#" class="btn-reload"></a>
				<div class="form-group browser-group">
					<a data-ng-click="$ctrl.refreshPreview()" role=button class="btn-reload ">
						<i class="icon icon-reload"></i>
					</a>
					<div class="input-wrapper">
						<a href="#" class="btn-warning">
							<i class="icon icon-info"></i>
						</a>
						<input type="text" class="form-control" data-ng-value="$ctrl.previewUrl" disabled>
					</div>
					<a href="#" class="btn-fulscreen">
						<i class="icon icon-fullscreen"></i>
					</a>
				</div>
			</div>

			<div class="space-box-content-bottom">
				<iframe data-ng-src="{{$ctrl.previewUrl+'?refreshTime='+$ctrl.refreshTime}}"
				        frameborder="0" width="100%" height="100%"
				        style="height: 100vh;">
				</iframe>

			</div>
		</div>
	</div>


</div>