.work-space-header {
  @import "menuBar";
}

.work-space-container {
  @import "fileTree";
  @import "editor";

  .work-space-box .space-box-header .space-box-tab li {
    cursor: pointer;
  }

  .space-box-content-bottom {
    display: block;
    iframe {
      height: calc(100vh - 63px) !important;
    }
  }

}

.angular-bootstrap-contextmenu.dropdown {
  background-color: transparent;
  .dropdown-menu {
    margin: 0;
    padding: 0;
    border: none;
    background: #535355;
    min-width: 100px;

    li {
      a {
        padding: 5px 10px !important;
        font-size: 12px;
        font-weight: 400;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
          background: #5f5f5f;
        }
      }
    }
  }
}