.work-space-header {
  .header-work-menu {
    .header-work-dropdown {
      max-width: 400px !important;

      /* position: absolute; */
      /* top: 100%; */
      /* left: 0; */
      /* z-index: 1000; */
      /* display: none; */
      float: left;
      /* min-width: 160px; */
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 16px;
      text-align: left;
      /* background-color: #fff; */
      /* border: 1px solid #ccc; */
      border: initial;
      border-radius: initial;
      /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); */
      background-clip: padding-box;

      li {
        .header-work-dropdown{
          max-height: 250px !important;
          overflow-y: auto !important;
        }
      }

      li > a {
        display: flex !important;
        cursor: pointer !important;
        pointer-events: initial !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap !important;
        text-overflow: ellipsis;

        span.text {
          margin-right: auto !important;
          text-align: left !important;
        }

        i.hotkey {
          margin-left: auto !important;
          float: none !important;
          font-size: 10px !important;
          text-align: right !important;
          padding-left: 10px !important;
        }
      }
    }
  }

  .folder-name {
    .dropdown-menu.dropdown-menu-folder {
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 0;
      background: #535355;
      margin-top: 10px;
      li {
        &.active > a {
          background: #8e8e8f;
          cursor: default;
        }

        > a {
          display: block;
          padding: 5px 10px;
          color: #fff;
          font-weight: 400;

          &:hover {
            background: #8e8e8f;
          }
        }
      }
    }
  }
}