.header-work-menu .header-work-dropdown {
  max-width: 400px !important;
  li > a {
    display: flex !important;
    cursor: pointer !important;
    pointer-events: initial !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap !important;
    text-overflow: ellipsis;

    span.text {
      margin-right: auto !important;
      text-align: left !important;
    }

    i.hotkey {
      margin-left: auto !important;
      float: none !important;
      font-size: 12px !important;
      text-align: right !important;
      padding-left: 10px !important;
    }
  }
}